<div class="control-group">
  <label for="titulo" class="control-label">titulo</label>
  <div class="controls">
    <%- contentTag('input', pergunta.titulo, {type:'text', class:'span6', name:'titulo'}) %>
  </div>
</div>
<div class="control-group">
  <label for="descricao" class="control-label">descricao</label>
  <div class="controls">
    <%- contentTag('input', pergunta.descricao, {type:'text', class:'span6', name:'descricao'}) %>
  </div>
</div>
